.PlayPage {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.PlayPage .game-div {
    display: block;
    position: absolute;
    top: 4%;
    left: 1%;
    width: 80%;
    height: 80%;
}

.PlayPage .game-div .game-iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
}

.PlayPage .info-div {
    display: block;
    position: absolute;
    width: 18%;
    height: auto;
    left: 81.5%;
    top: 4%;
    line-height: 1.5;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(180deg, #D14905, rgb(0,0,0,0)) 1;
}

.PlayPage .controls {
    display: block;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    text-align: justify;
}

.PlayPage .controls p {
    padding-bottom: 10%;
}

.PlayPage .overview {
    display: block;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.PlayPage .overview p {
    padding-bottom: 10%;
}

.PlayPage .authors {
    display: block;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.PlayPage .authors p {
    padding-bottom: 10%;
}

.PlayPage .button-tray {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 30px;
    position: absolute;
    top: 85%;
    right: 20%;
    width: 30%;
    height: 15%;
}

.PlayPage .button-tray .keyboard {
    width: 90px;
    height: 50px;
}

.PlayPage .button-tray .touch {
    width: 40px;
    height: 50px;
}

.PlayPage .button-tray .controller {
    width: 60px;
    height: 50px;
}

.PlayPage .info-button-play {
    position: relative;
    width: 55%;
    height: 5%;
    padding-left: 5%;
}

.PlayPage .info-button-play button {
    display: block;
    position: absolute;
    background: #D14905;
    width: 100%;
    height: 39px;
    border-radius: 24px;
    border: none;
    transition: opacity 0.3s ease;
}

.PlayPage .home-button {
    display: block;
    position: absolute;
    top: 89%;
    left: 1.1%;
    width: 4.5%;
    height: 10%;
}

.PlayPage .home-button button {
    background: none;
    border: none;
    height: auto;
}

.PlayPage .home-button img {
    /* width: 60%;
    height: auto;
    overflow: normal;
    border-radius: 5px;
    border: none; */

    width: 45%;
    height: auto;
    overflow: normal;
    border-radius: 5px;
    border: none;
}