*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
}

.active {
    display: black;
}

.inactive {
    display: none;
}

.CarouselPage {
    position: relative;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    column-gap: 3rem;
}

@media screen and (min-width: 48rem) {
    .CarouselPage {
        display: flex;
        align-items: center;
    }
}

.CarouselPage .myswiper {
    width: 95%;
    padding-top: 0rem;
}

.CarouselPage .myswiper-slider{
    width: 25rem;
    height: 45rem;
}

.CarouselPage .swiper-slide-active {
    width: 30rem;
    height: 50rem;
}

.CarouselPage .image-container {
    position: relative;
    display: inline-block;
    width: 70%;
}

.CarouselPage .myswiper-slider p {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
}

.CarouselPage .myswiper-slider h1 {
    padding-bottom: 25px;
    opacity: .5;
}

.CarouselPage .myswiper-slider img {
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: .5;
    border-radius: 38px;
}

.CarouselPage .myswiper-slider .play-button {
    display: none;
}

.CarouselPage .myswiper-slider .info-button {
    display: none;
}

.CarouselPage .swiper-slide-active p {
    display: block;
    opacity: 1;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    line-height: 1.5;
}

.CarouselPage .swiper-slide-active h1 {
    padding-top: 25px;
    padding-bottom: 25px;
    opacity: 1;
    font-size: 48px;
}

.CarouselPage .swiper-slide-active .swiper-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 38px;
    opacity: 1;
    transition: opacity 0.3s ease;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.5);
}

.CarouselPage .swiper-slide-active .buttons {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.CarouselPage .swiper-slide-active .play-button {
    display: block;
    position: relative;
    background: #D14905;
    width: 128px;
    height: 40px;
    border-radius: 24px;
    border: none;
    transition: opacity 0.3s ease;
    margin-right: 5%;
}

.CarouselPage .swiper-slide-active button {
    box-shadow: 1px 4px rgba(.5, .5, .5, .5);
}

.CarouselPage .play-button:hover {
    background: #c2490d;
}

.CarouselPage .swiper-slide-active .info-button {
    display: block;
    position: relative;
    background: #D14905;
    width: 160px;
    height: 39px;
    border-radius: 24px;
    border: none;
    transition: opacity 0.3s ease;
    margin-left: 5%;
}

.CarouselPage .info-button:hover {
    background: #c2490d;
}

.CarouselPage .carousel-page-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.CarouselPage .swiper-slide-prev {
    padding-left: 225px;
}

.CarouselPage .swiper-slide-next {
    padding-right: 225px;
}

.CarouselPage .swiper-button-next {
    color: white;
    padding-right: 25px;
}

.CarouselPage .swiper-button-prev {
    color: white;
    padding-left: 25px;
}

.filters {
    position: absolute;
    z-index: 100;
    padding-left: 2%;
    padding-top: 2%;
}

.filters label {
    padding: 10px;
}

.add-genre {
    background: none;
    color: rgba(0, 132, 115, 1);
    border: none;
    font: Lato;
    font-size: 20px;
    text-decoration: underline;
}

.genre-list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-bottom: 20px;
}

.genre-list .unselected {
    display: none;
}

.genre-list .selected {
    display: inline-block;
    padding: 2px 20px;
    background-color: rgb(136, 46, 1);
    color: white;
    font: Lato;
    font-size: 14px;
    text-align: center; 
    border-radius: 38px;
    border-style: hidden;
}

.genre-select-background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    background: rgba(1, 1, 1, 0.6);
}

.genre-select-module {
    display: block;
    position: absolute;
    width: 60%;
    height: 40%;
    left: 20%;
    top: 30%;
    z-index: 100;
    background: white;
    border-radius: 38px;
}

.genre-select-module h1 {
    display: block;
    position: relative;
    left: 5%;
    top: 10%;
    color: rgba(0, 132, 115, 1);
    padding-bottom: 2%;
}

.exit-genre-select {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    color: rgba(0, 132, 115, 1);
    border: none;
    font: Lato;
    font-size: 18px;
    text-decoration: underline;
    background: none;
}

.genre-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5%;
    column-gap: 3%;
    width: 100%;
    height: 90%;
    padding: 5%;
}

.genre-select .unselected {
    display: inline-block;
    height: 20%;
    padding: 2% 4%;
    background-color: rgba(209, 73, 5, 1);
    color: white;
    font: Lato;
    font-size: 14px;
    border-radius: 38px;
    border-style: hidden;
}

.genre-select .selected {
    height: 20%;
    padding: 2% 4%;
    background-color: rgb(136, 46, 1);
    color: white;
    font: Lato;
    font-size: 14px;
    border-radius: 38px;
    border-style: hidden;
}

.genres p {
    font-size: 32px;
    font-weight: lighter; 
    padding-top: 5px;
    padding-right: 20px;
}